.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.nav-link{
    color:dodgerblue !important;
}

.navbar-brand{
    color: red !important;
}

/* @media screen and (min-width: 500px) {
    .margin {
        margin-left: 30% !important;
        margin-right: 30% !important;
        }
  } */
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> de4868ddeec4c2907e30856003d2b79156cede3b
=======
>>>>>>> de4868ddeec4c2907e30856003d2b79156cede3b
